<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <title>BLOG</title>
  </head>
  <body>
    <h1> hello </h1>
  </body>
</html>

  <div class = "container">
    <h1 class="mb-4">Blog Articles</h1>
    <a href = "/articles/new" class= "btn btn-success">New Article</a>
    {{!-- {{#each articles as |value key}}
    <p>{{key }} {{value}}</p>
    {{/each}} --}}
    </div>
  </div>
  </body>
</html> 